
#MainMenupage {
    background-image: url("../assets/menu-background-image.png");
    background-size: cover;         
    font-family: 'Kiwi Maru';
    caret-color: transparent;
    height: 100vh;
    display: flex;
    align-items: center;             
    justify-content: center; 
    flex-direction: column;

  }
  
  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 56px;               
    color: white;
    margin-bottom: 40px;
  }
  .title-tem {
    width: 1200px;                   
    padding: 30px;
    font-size: 30px;
    color:black;
    margin: 20px auto;
    background-color: #d2cdcd;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s; 
  }
  
  .menu-item {
    width: 600px;                   
    padding: 30px;
    font-size: 30px;
    color:black;
    margin: 20px auto;
    background-color: #d2cdcd;
    border-radius: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }

  .menu-item:hover {
    background-color: #c0bbbb;
    cursor: pointer;
  }
  