#loginpage {
    background-image: url("../assets/menu-background-image.png");
    font-family: 'Kiwi Maru';
    caret-color: transparent;
    height: 100vh;
    width: 100vw;
}

h1 {
    padding-top: 50px;
}